.action-bar-container {
    background-color: #f9f9f9;
    border-bottom-color: #b2b2b2;
    border-bottom-width: 1;
}

.action-bar-container .title {
    font-weight: bold;
}

.action-bar-container .filter {
    background-color: #f9f9f9;
    horizontal-align: right;
    vertical-align: center;
    text-align: left;
    width: 100;
}