<GridLayout paddingLeft="10" paddingTop="10" class="place-container" rows="auto,auto,auto,auto,auto">
  <StackLayout row="0">
    <Label text="La ferme" class="place-name"></Label>
    <Label text="Levallois Perret"></Label>
  </StackLayout>
  <StackLayout orientation="horizontal" row="1" class="place-star-container">
    <Label *ngFor="let star of [1,2,3,4,5]"
           text="{{ iconStar }}"
           class="fa fa-1 place-star"
           [class.place-star-selected]="place.note >= star"
           (tap)="onTapStar(star)"></Label>
  </StackLayout>
  <StackLayout row="2" class="place-context-container">
    <CheckBox *ngFor="let context of contextValues"
              [text]="context.label" [checked]="context | placeContextChecked:place"
              (checkedChange)="onTapContext(context)"></CheckBox>
  </StackLayout>
  <StackLayout row="3" class="place-comments-container">
    <TextView hint="Laisser un commentaire"></TextView>
  </StackLayout>
  <StackLayout row="4" class="place-submit-container">
    <Button text="Ajouter"></Button>
  </StackLayout>
</GridLayout>