.place-container .place-name {
    font-weight: bold;
}

.place-star-container {
    margin-top: 20;
}

.place-container .place-star {
    margin-right: 10;
}

.place-container .place-star-selected {
    color: #b58900;
}

.place-context-container {
    margin-top: 20;
}

.place-context-container CheckBox {
    margin-top: 10;
}

.place-comments-container {
    margin-top: 20;
}

.place-comments-container TextField {
    height: 200;
}

.place-submit-container {
    margin-top: 20;
    horizontal-align: center;
}

.place-submit-container Button {
    background-color: #CB1D00;
    padding: 5;
    color: white;
}