<ActionBar title="Mes places" class="action-bar">
</ActionBar>
<GridLayout rows="*,auto">
  <StackLayout orientation="vertical" row="0">

  </StackLayout>
  <StackLayout orientation="horizontal" row="1" backgroundColor="#000000">
    <GridLayout columns="*,*" padding="15">
      <Button text="Mes places" col="0" borderRightColor="#ffffff" borderRightWidth="1" color="#ffffff"></Button>
      <Button text="Pin place" col="1" borderLeftColor="#ffffff" borderLeftWidth="1" color="#ffffff"></Button>
    </GridLayout>
  </StackLayout>
</GridLayout>