<ActionBar title="Mes places" class="action-bar">
</ActionBar>
<GridLayout rows="*,auto">
  <!-- <Image src="data:image/png;base64,{{ imageSource1 }}" ></Image> -->
  <ActivityIndicator busy="true" visibility="{{ !isReady ? 'visible' : 'collapse'}}" row="0"></ActivityIndicator>
  <StackLayout orientation="vertical" row="0" visibility="{{ isReady ? 'visible' : 'collapse'}}">
    <ListView [items]="places" separatorColor="transparent" class="list-group" height="100%">
      <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
        <FlexboxLayout backgroundColor="#faebd7">
          <Image src="res://{{item.type}}" stretch="none" horizontalAlignment="center"></Image>
          <Label [text]="item.name" marginLeft="20px" flexGrow="1" [nsRouterLink]="['/place-detail']" [queryParams]="{id: item.id}"></Label>
          <Label text="{{ iconRemove }}" class="fa fa-2" color="#CB1D00" marginRight="10px" (tap)="onRemove(item)"></Label>
        </FlexboxLayout>
      </ng-template>
    </ListView>
  </StackLayout>
  <StackLayout orientation="horizontal" row="1" backgroundColor="#000000">
    <GridLayout columns="*,*">
      <Button text="Mes places" padding="10" col="0" borderRightColor="#ffffff" borderRightWidth="1" color="#ffffff"></Button>
      <Button text="Pin place" padding="10" col="1" borderLeftColor="#ffffff" borderLeftWidth="1" color="#ffffff" (tap)="goToAddPlaces()"></Button>
    </GridLayout>
  </StackLayout>
</GridLayout>