<StackLayout height="50%" *ngIf="searchView === 'map'" backgroundColor="red">
  <kl-google-sdk-map
    (ready)="onMapLoaded($event)"
    [places]="places"></kl-google-sdk-map>
</StackLayout>
<StackLayout height="50%" *ngIf="searchView === 'map'">
  <kl-google-sdk-list-view-search-place
    [places]="places"
    (info)="onInfoPlace($event)"
    (select)="onSelectPlace($event)"></kl-google-sdk-list-view-search-place>
</StackLayout>
<kl-google-sdk-search-place (select)="onSelectPlace($event)" height="100%" *ngIf="searchView === 'name'"></kl-google-sdk-search-place>
