@import url("~/platform.css");

Page {
    background-color: white;
    font-size: 15;
}

TextField {
    font-size: 13;
    padding: 10;
}

.small-spacing {
    margin: 5;
}
.medium-spacing {
    margin: 10;
}

.disabled {
    opacity: 0.5;
    background-color: #00aafc;
}

.fa {
    font-family: 'FontAwesome', 'fontawesome-webfont';
}

.fa-1 {
    font-size: 24;
}

.fa-2 {
    font-size: 32;
}